@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Creepster&family=Indie+Flower&family=Sofia&display=swap');


*{margin: 0;padding: 0;}
html{height: 100%;}
body{background: linear-gradient(#43AA8B,#4D908E,#577590,#277DA1);
    color: white;}

/* Menu */
header{
    margin: 5px;
}
.contenedor_menu{
    position: absolute;
    width: 30%;
    height: 250px;
    float: left;

}
.decoration1{
    position: absolute;
    background: red;
    width: 100%;
    height: 100%;
    left:0px;
    top: 0px;
    z-index: -10;
    border: 1px solid black;

}
.decoration2{
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    left:5px;
    top: 5px;
    z-index: -5;
    border: 1px solid black;

}

.contenedor_menu ul{
    list-style-type:none;
    width: 100%;
    background-color: rgba(249, 198, 79, 1);
    border: 1px solid black;
    position: relative;
    left: 10px;
    top: 10px;
}
.contenedor_menu li{

}
.contenedor_menu a{
    display: block;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: xx-large;
    border: 1px dashed;
    margin: 10px;
    padding: 10px;
    background-color: rgba(67, 170, 139, 0.7);
    font-family: 'Aref Ruqaa Ink', serif;
    font-family: 'Creepster', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Sofia', cursive;
}

/* Texto Menu */

.titulo{
    text-align: center;
    font-size: 500%;
    font-family: 'Courier New', Courier, monospace;
    float: right;
    width: 70%;
}
.titulo h1{}
.titulo h1 span{}

/* Nota: corregir titulo  y probar lo responsive*/
