
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Creepster&family=Indie+Flower&family=Sofia&display=swap');

*{margin: 0;padding: 0;} 
html{height: 100%;}
body{background: linear-gradient(#43AA8B,#4D908E,#577590,#277DA1);}
header{
    margin-bottom: 30px;
}
/* Background */
.contenedor_fondo img{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    z-index: -10000;
    
}
/* MENU */
.contenedor_menu{
   border: 1px dashed white;
   overflow: hidden;
   
}
.lista_menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.lista_menu li{
    list-style-type: none;
}
.lista_menu a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: #43AA8B;
    font-family: 'Aref Ruqaa Ink', serif;
    font-family: 'Creepster', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Sofia', cursive;
    font-size: 30px;
    margin: 10px;
    padding: 10px;

   border: 1px solid black;
   border-radius: 10px;
   text-shadow: 1px 1px 1px black;
   box-shadow:  3px 3px 1px #101010, inset 1px 1px 1px white;
  

}
.lista_menu img{
    height: 80px;
    width: 80px;
}
.decoration{
       display:none;
   } 

.lista_menu a:hover{
   border: 1px solid black;
   border-radius: 10px;
   text-shadow: 1px 1px 1px black;
   background-color:#277DA1 ;
   box-shadow:  6px 6px 1px #101010, 0px 0px 5px white,inset 2px 2px 30px #277DA1;
}
.lista_menu a:active{
    border-color: #F94144;
}

/* FORMULARIO */
.contenedor_log{
    background: linear-gradient(#277ca1,#4D908E,#577590,#277DA1);
    border: 1px dashed white;
    width: 50%;
    box-shadow:0px 0px 15px black;
    position: relative;
    margin: auto;

  
   
}
.form_log{
    position: relative;
    border: 1px dashed white;
    width: 90%;
    margin:10px auto;
    overflow: hidden;
    padding: 10px 0px;
    box-shadow:inset 0px 0px 15px black;

}
/* box input-label */
.basic{
    display: block;
    color: white;
    font-family: 'Aref Ruqaa Ink', serif;
    font-family: 'Creepster', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Sofia', cursive;
    margin: 10px 20px;
    font-size: large;
 
   
}
.form_log label {
    font-size: 25px;
}
.form_log input{
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:  3px 3px 1px #101010;
    color: black;
    text-align: center;
}
.form_log .enviar{
    background:rgba(67, 170, 139, 1);
    color: white;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:  3px 3px 1px #101010;
    text-align: center;
}
.form_log .enviar:hover{
    background-color: rgba(39, 124, 161, 1);
 }
 .form_log .enviar:active{
    border-color: #F94144;
 }






 /* tablet-mobileL*/
@media(max-width:694px){
    /* MENU */
     .lista_menu li{display: inline-block;}

    .lista_menu a{font-size: 25px;}

    .lista_menu img{display: none;}
    /* FORMULARIO */
    .contenedor_log{ width: 68%;}

}
 @media(max-width:530px){

/* MENU */
    .lista_menu li{display: inline-block;}

    .lista_menu a{font-size: 20px;}

    .lista_menu img{display: none;}
/* FORMULARIO */
    .contenedor_log{ width: 80%;}

} 

@media(max-width:395px){
    /* MENU */
    .decoration{
        position: relative;
        display: block;
        height: 10px;
        width: 90%;
        background:linear-gradient(#F9C74F,#F8961E);
        border: 1px dashed black;
        border-radius: 10px;
        margin: 10px auto;
    } 
    .contenedor_menu{
        display: none;
    }
    .lista_menu{
        margin: auto;
    }
    .lista_menu li{
        display:block;
        width: 90%;
        margin: 3px auto;
    }
    .lista_menu a{font-size: 15px;}

    /* FORMULARIO */
    .contenedor_log{ width: 90%;}
    .form_log{
        width: 90%;
        margin:5px auto;
    }
    .form_log label{
        font-size: 15px;
    }

   

    header:hover .contenedor_menu{
        display:block;
    }
 }

