*{margin: 0;padding: 0;}
.titulo{
    text-align: center;
    color: crimson;
    text-shadow: 2px 2px 3px grey;
    margin-bottom: 30px;
}
.contenedor{
    display: flex;
    background-color: rgba(255, 235, 205, 0.473);
    border: 1px solid black;
    margin: 10px 0px;
 
  
   
}
.contenedor > p{
    padding: 10px;
    background-color: aquamarine;
    margin: 20px;
    border: 1px solid black;
    text-shadow: 1px 1px 1px white;
    
}

.e0{
    flex-direction: row;
    flex-wrap: wrap;

    /*Es el valor por default y lo carga ala izquierda o al inicio  */
    justify-content: flex-start;
    }





.e1{ 
    flex-flow:row wrap ;
    /* pone el contenido al centro */
    justify-content: center;
}

.e2{   
     flex-flow:row wrap ;
    /* pone el contenido al final */
    justify-content: flex-end;
}

.e3{
    flex-flow:row wrap ;
    /* pone el contenido a cada extremo*/
    justify-content: space-between;
}
.e4{   
    flex-flow:row wrap ;
   /* pone un espacio al derecho y al izquierdo space-around = espacion-alrededor*/
   justify-content: space-around;
}

.e5{
   flex-flow:row wrap ;
   /* crea un espacio igual entre los elementos*/
   justify-content: space-evenly;
}
