*{margin: 0;padding: 0;}
.titulo{
    text-align: center;
    color: crimson;
    text-shadow: 2px 2px 3px grey;
    margin-bottom: 30px;
}
.contenedor{
    display: flex;
    background-color: rgba(255, 235, 205, 0.473);
    border: 1px solid black;
    margin: 10px 0px;
  
   
}
.contenedor > p{
    padding: 10px;
    background-color: aquamarine;
    margin: 20px;
    border: 1px solid black;
    text-shadow: 1px 1px 1px white;
    
}

.e0{/* valor pordefecto */ 
    flex-direction: row;
    /*valor por defecto */
    flex-wrap: nowrap;
    }
/* 
.e1{}

.e2{}

.e3{}
 */

