body{
background-color: #370617;    

}


ul{
    
     list-style-type: none;
    background-color: red;
}

li{
    float: left;
    margin: 5px 4px;
}

a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    border:1px  white;
    border-style: solid;
    background-color: #370617;
    height: 20px;
    width: 100px;
}
a:active{
    color: black;
   
}
a:hover{
    background-color: #6A040F;
}

/* C38 T7 */